# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Arquivos temporários
*.log
*.tmp
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Arquivos de instaladores ou builds
dist/
build/
*.egg-info/